body {
  padding-top: 50px;
  background-color: #00000030;
}

img {
  display: block;
}

.is-hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: black;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #ff1692;
  border-radius: 10px;
}

.submit-btn {
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff1692;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.photo-card {
  width: (100% - 60)/3;
  padding: 20px;
  background-color: #fcf1f9;
  border: 1px solid #ff1692;
}

.card-image {
  width: 360px;
  height: 260px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.load-more {
  cursor: pointer;
  margin: 30 auto;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff1692;
}
